.auth-footer__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #8B8B8B;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .auth-footer__title {
        font-size: 12px;
        line-height: 1.25;
    }
}
