.technology__item-title {
    margin: 90px auto 26px auto;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .technology__item-title {
        margin: 80px auto 22px auto;
    }
}

@media screen and (max-width: 767px) {
    .technology__item-title {
        margin: 60px auto 24px auto;
        font-size: 30px;
        line-height: 1.2;
    }
}
