.footer__text {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .footer__text {
        flex-direction: column-reverse;
        align-items: center;
        font-size: 12px;
        line-height: 1.25;
        margin-top: 30px;
    }
}
