.menu-popup__close-button {
    position: absolute;
    right: 22px;
    top: 22px;
    cursor: pointer;
    border: 0;
    background: 0;  
    height: 22px;
    width: 22px;
}

.menu-popup__close-button:hover {
    opacity: 0.6;
}

.menu-popup__close-button:before {
    position: absolute;
    content: '';
    height: 22px;
    border: 2px solid #fff;
    top: 0;
    transform: rotate(45deg);
    background-color: #fff;
}

.menu-popup__close-button:after {
    position: absolute;
    content: '';
    height: 22px;
    border: 2px solid #fff;
    top: 0;
    transform: rotate(-45deg);
    background-color: #fff;
}
