.about__title {
    margin: 0 auto 23px 0;
    padding-top: 110px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.22;
    color: #fff;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 767px) {
    .about__title {
        font-size: 18px;
        line-height: 1.22;
        margin: 0 auto 28px 0;
        padding-top: 70px;
    }
}
