.technology__item-subtitle {
    max-width: 460px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    color: #fff;
    text-align: center;
    margin: 0 auto 100px auto;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 1023px) {
    .technology__item-subtitle {
        margin: 0 auto 83px auto;
        font-size: 12px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 767px) {
    .technology__item-subtitle {
        margin: 0 auto 50px auto;
        font-size: 11px;
        line-height: 1.45;
    }
}
