.auth-header {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    margin: 0 0 40px 0;
    max-width: 396px;
}

@media screen and (max-width: 1023px) {
    .auth-header {
        padding-top: 232px;
    }
}

@media screen and (max-width: 767px) {
    .auth-header {
        padding-top: 56px;
        align-items: center;
        margin: 0 auto 80px auto;
    }
}
