.redact__form-submit-btn {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    color: #fff;
    border: none;
    cursor: pointer;
    background: none;
    margin-top: 20px;
}

.redact__form-submit-btn:hover {
    opacity: .6;
}
