.about__item-subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
}

@media screen and (max-width: 1023px) {
    .about__item-subtitle {
        font-size: 12px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 767px) {
    .about__item-subtitle {
        font-size: 11px;
        line-height: 1.45;
    }
}
