.intro__more-button {
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 3px;
    background: none;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    cursor: pointer;
}

.intro__more:hover {
    opacity: .6;
}
