.student__benefit-title-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.66;
    letter-spacing: -0.04em;
}


@media screen and (max-width: 1023px) {
    .student__benefit-title-text {
        font-size: 28px;
        line-height: 1.78;
    }
}

@media screen and (max-width: 767px) {
    .student__benefit-title-text {
        font-size: 18px;
        line-height: 1.55;
    }
}
