.student__line {
    border-bottom: 1px solid #424242;;
}

@media screen and (max-width: 1023px) {
    .student__line {
        border-color: #E6E6E6;
    }
}

@media screen and (max-width: 767px) {
    .student__line {
        margin-top: 19px;
    }
}
