.intro__about-title {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .intro__about-title {
        font-size: 40px;
        line-height: 1.25;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .intro__about-title {
        font-size: 30px;
        line-height: 1.11;
    }
}
