.search__checkbox-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    color: #fff;
    margin: auto 14px auto 41px;
}

@media screen and (max-width: 1023px) {
    .search__checkbox-title {
        margin: auto 12px auto auto;
    }
}
