.intro {
    min-height: 574px;
    background-color: #073042;
    padding: 0 70px;
}

@media screen and (max-width: 1023px) {
    .intro {
        padding: 0 44px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        padding: 0 10px;
    }
}
