.movies__show-more {
    width: 320px;
    height: 36px;
    background: #2F2F2F;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 50px;
}

.movies__show-more:hover {
    opacity: .6;
}
