.footer__link-item {
    list-style-type: none;
}

.footer__link-item:not(:last-child) {
    margin-right: 20px;
}

@media screen and (max-width: 767px) {
    .footer__link-item:not(:last-child) {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .footer__link-item:first-child {
        margin-bottom: 12px;
    }
}
