.movie {
    background: #222222;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    max-width: 360px;
    max-height: 319px;
    display: flex;
    flex-direction: column;
}
